{% extends 'base.html.twig' %}
{% block body %}
    <script type="text/javascript">var latVar = {{ event.lat }}</script>
    <script type="text/javascript">var lngVar = {{ event.lng }}</script>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
   Name : {{ event.name }} <br>
    Adress :{{ event.address }} <br>
     Description :{{ event.description }} <br>
    {%  if isAlive %}
        <a href="{{ path('posts.edit',{ 'event':event.id }) }}"> edit </a>
        {%endif  %}
    Map :
    <div id="map"></div>
    <script>

        function initMap() {
            var place = {lat: latVar, lng: lngVar};
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                center: place
            });
            var marker = new google.maps.Marker({
                position: place,
                map: map
            });
        }
    </script>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChgkCStI_CzqTWxuteujDUeEBF90it_h8&callback=initMap">
    </script>

{% endblock %}