{% extends 'base.html.twig' %}
{% block body %}
    <script type="text/javascript">var latVar = {{ event.lat }}</script>
    <script type="text/javascript">var lngVar = {{ event.lng }}</script>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
    <div class="container">
        <h1 style="text-align: center;padding: 30px">{{ event.name }} </h1>
        <div class="row">
            <div style="background-color: #f8f9fa" class=" border rounded col-lg-6 col-12">
                <p1 style="padding: 10px;">{{ event.description | raw }}</p1>
                <p2 style="padding: 10px;"> <br> Adresse : {{ event.address }} <br></p2>
                {% if not event.categories.empty %}
                    <p3>
                        Categories:
                        {% for category in event.categories %}
                            {{ category.name }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </p3>
                {% endif %}
            </div>
            <div class="col-lg-6 col-12">
                <div id="map"></div>
            </div>
            <div style="padding: 10px" class="col-12">
                {%  if isAlive %}
                    <a class="btn btn-success" href="{{ path('editView',{ 'event':event.id }) }}"> edit </a>
                    <a class="btn btn-danger" href="{{ path('deleteView',{ 'event':event.id }) }}"> delete </a>
                {%endif  %}
            </div>
        </div>



    </div>
    <script>

        function initMap() {
            var place = {lat: latVar, lng: lngVar};
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                center: place
            });
            var marker = new google.maps.Marker({
                position: place,
                map: map
            });
        }
    </script>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChgkCStI_CzqTWxuteujDUeEBF90it_h8&callback=initMap">
    </script>

{% endblock %}