{% extends 'base.html.twig' %}
{% block body %}

{# total items count #}
<div class="count">
    {{ pagination.getTotalItemCount }}
</div>
    <div class="d-flex justify-content-center">
        <table>
            <tr>
                {# sorting of properties based on query components #}
                <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
                <th{% if pagination.isSorted('a.Title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Title', 'a.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Release', ['a.date', 'a.time']) }}</th>
            </tr>

            {# table body #}
            {% for article in pagination %}
                <tr {% if loop.index is odd %}class="color"{% endif %}>
                    <td> <a href=" {{ path('eventView',{ 'event':article.id }) }}">link</a>{{ article.id }}</td>
                    <td>{{ article.name }}</td>
                    <td>{{ article.dateStart | date('Y-m-d') }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
        {# display navigation #}
    <div class="d-flex justify-content-center">
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
    </div>

{% endblock %}