{% extends 'base.html.twig' %}
{% block body %}

    <div class="container" style="padding-top: 10px;">
        <a class="btn btn-success" href="{{ path('eventCreation') }}"> créer un évènement </a>
        <button  id="show" class="btn btn-info" href="{{ path('eventCreation') }}"> Rechercher un évènement </button>
    </div>

    <div id="searchplace" class="container" style="display: none;">
    {% if searchform %}
        {{ form_start(searchform) }}
        {{ form_widget(searchform) }}
        {{ form_end(searchform) }}
    {% endif %}
    </div>

    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;

        }

        tr:nth-child(even) {
            background-color: #dddddd;
            border: 1px solid white;
        }
        .navigation {
            padding-top: 10px;
        }
    </style>
    <script>
        $("button").click(function(){
            $("#searchplace").toggle();
        });
    </script>



{# total items count #}
<div class="count" style="visibility: hidden">
    {{ pagination.getTotalItemCount }}
</div>
    <div style="text-align: center;">
        <table>
            <tr>
                {# sorting of properties based on query components #}
                <th> Nom de l'évenement</th>
                <th> Catégorie </th>
                <th> Localisation</th>
                <th> Date </th>
            </tr>

            {# table body #}
            {% for article in pagination %}
                <tr {% if loop.index is odd %}class="color"{% endif %}>
                    <td><a href=" {{ path('eventView',{ 'event':article.id }) }}">{{ article.name }}</a></td>
                    <td> {% for category in article.categories %}
                            {{ category.name }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ article.address }}</td>
                    <td>{{ article.dateStart | date('Y-m-d') }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
        {# display navigation #}
    <div class="d-flex justify-content-center">
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
    </div>

{% endblock %}